<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GrampanchayatKouthaliApk"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.GrampanchayatKouthaliApk">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" />
        <activity android:name=".MainPageActivity" />
        <activity android:name=".TaxPayActivity" />
        <activity android:name=".GovernmentSchemesActivity" />
        <activity android:name=".ProjectsActivity" />
        <activity android:name=".ProjectDetailActivity" />
        <activity android:name=".GramsabhaActivity" />
        <activity android:name=".EventGramDetailActivity" />

        <activity android:name=".RegisterActivity"/>
        <activity android:name=".HelpAndSupportActivity"/>
        <activity android:name=".ProfileActivity"/>
        <activity android:name=".SchemeDetailActivity" />
        <activity android:name=".ApplyForCertificateActivity" />
        <activity android:name=".ComplaintActivity" />

        <activity android:name=".ProjectFormActivity" />
        <activity android:name=".RegisterforCertificateActivity"/>
        <activity android:name=".TrackComplaintActivity" />
        <activity android:name=".SuccessActivity"/>
        <activity android:name=".TrackCertificateActivity" />

        <activity
            android:name=".VillageActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        </activity>
        <activity
            android:name=".PublicFacilitiesActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        </activity>
        <activity
            android:name=".CommunityCulturalInfoActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        </activity>
        <activity
            android:name=".EconomicActivitiesActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        </activity>
        <activity
            android:name=".InfrastructureActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        </activity>

    </application>
</manifest>
